/* IMPORTATION DES POLICES GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand');

/* GLOBAL */
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Shrikhand', sans-serif;
    margin: 20px;
}

h4 {
    font-family: 'Shrikhand', sans-serif;
}

h2, h3 {
    font-weight: 800;
}

h3 {
    text-align: left;
}

body {
    margin: 0 auto;
    box-sizing: border-box;
    text-align: center;
}

.global-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    min-width: 320px;
}

a {
    text-decoration: none;
    color: #000000;
}

/* =========== HEADER =========== */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

header .bar-locality {
    width: 100%;
    background-color: #eaeaea;
    padding: 15px;
    font-size: 16px;
    font-weight: 700;
    color: #313131;
    box-shadow: 0px -3px 4px 0px rgba(38,38,38,0.20);
}

header .main-header {
    width: 100%;
    background-color: #f6f6f6;
    padding: 25px 20px;
    box-sizing: border-box;
}

header .main-header h2 {
    font-weight: bold;
    padding: 0 20px;
    margin: 20px auto;
}

header .main-header p {
    font-size: 16px;
    color: #737272;
}

header .fa-location-dot {
    padding-right: 20px;
}

.btn-all-restaurants {
    color: #fff;
    background: linear-gradient(#FF79DA, #9356DC);
    border: none;
    padding: 15px 20px;
    border-radius: 25px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin: 20px;
    cursor: pointer;
    box-shadow: 2px 2px 6px 2px rgba(54, 54, 54, 0.5);
}

    .btn-all-restaurants:hover {
        background: linear-gradient(rgba(255, 121, 218, 0.9), rgba(147, 86, 220,0.8));
    }

/* =========== MAIN =========== */
main {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

main h3 {
    font-size: 23px;
    margin: 30px auto 20px auto;
}

/* STEPS-SECTION*/
.section-steps {
    width: 100%;
    padding: 0px 15px;
}

.section-steps nav {
    width: 100%;
    margin: 0 auto;
}

.section-steps nav ol {
    padding: 0;
    counter-reset: compteurStep;
}
.section-steps nav ol li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    width: 100%;
    margin: 0 auto;
}

.list-steps:before {
    counter-increment: compteurStep;
    content: counter(compteurStep) " ";
    background: #9356dc;
    height: 25px;
    width: 25px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    margin-left: -10px;
}

.section-steps a {
    display: block;
    background-color: #f6f6f6;
    padding: 10px;
    margin: 10px auto;
    border-radius: 20px;
    width: 100%;
    font-weight: 700;
    box-shadow: 1px 2px 20px 0px rgba(255, 255, 255, 0.5);
}

.section-steps .icon-step {
    color: #626262;
    font-size: 18px;
    flex: 1;
}

.section-steps p {
    flex: 2;
    text-align: left;
}

.section-steps .list-steps a:hover {
    color: #000000;
    box-shadow: 1px 2px 20px 0px rgba(191, 191, 191, 0.3);
    background-color: #f5edff;
}

    .section-steps .list-steps a:hover .icon-step {
        background-color: #9356dc;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

.span-steps-link {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.span-steps-link p {
 font-size: 15px;
}

/* SECTION-RESTAURANTS*/
.section-restaurants {
    background-color: #f6f6f6;
    margin: 40px auto;
    margin-bottom: 0;
    width: 100%;
    padding: 15px;
    padding-bottom: 50px;

}

.section-restaurants-thumbnails {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 1rem;
}

.thumbnails {
    background-color: #fff;
    border-radius: 15px;
    position: relative;
    text-decoration: none;
    width: 100%;
    margin: 0 auto;
    box-shadow: 0px 0px 33px -9px rgb(170,170,170);
}

.img-thumbnails {
    height: 11rem;
    width: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

/* TAG NEW */
.thumbnails-tag-new {
    color: #008563;
    background-color: #99E2D0;
    position: absolute;
    padding: 5px 15px;
    border-radius: 5px;
    top: 15px;
    right: 15px;
    font-weight: 600;
}

.thumbnails-description-container {
    display: flex;
    align-items: center;
    position: relative;
    padding: 15px;
    
}

.thumnails-description-contenu {
    flex: 1;
    text-align: left;
}

.thumnails-description-contenu h3 {
    margin: 0 0 5px 0;
    padding: 0;
    font-size: 18px;
}

.thumnails-description-contenu p {
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #313131;
}

/* THUMBNAILS HEART */
.div-thumbnails-heart {
        height: 39px;
        width: 39px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        background-color: #ffffff;
}

.fa-heart {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 25px;
}

.div-thumbnails-heart .fa-regular {
    top: 0;
    color: #000000;
    background-color: #fff;
    z-index: 4;
}

.div-thumbnails-heart .fa-solid {
    top: 0;
    color: #9356dc;
    background: -webkit-linear-gradient(#9356dc, #ff79da);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0;
    z-index: 5;
}

.div-thumbnails-heart .fa-solid:hover {
    transition-duration: 0.5s;
    opacity: 1;
}


/* FOOTER */
footer {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
    background-color: #353535;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
}

footer h4 {
    font-size: 20px;
    font-weight: 200;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #fff;
}

footer nav a {
    display: block;
    text-decoration: none;
    color: #fff;
    margin-top: 8px;
    margin-bottom: 8px;
    font-family: 'Roboto', sans-serif;
}

footer nav a:hover {
    color: #FF79DA;
}

footer nav a i {
    display: block;
    width: 15px;
    height: 15px;
    margin-right: 15px;
}



/* SCREEN > 975px */
@media all  and (min-width: 900px) and (max-width: 20000px) {
    .section-steps {
        width: 95%;
        margin: 0 auto;
        padding: 0;
    }
    .section-steps p {
        flex: 3;
        text-align: center;
    }
    ol {
        display:flex;
        gap: 20px;
    }

    .section-restaurants-thumbnails {
        grid-template-columns: repeat(2,1fr);
        gap: 40px;
        width: 95%;
        margin: 0 auto;
        padding: 0px;
    }

    .section-restaurants {
        padding: 0px 0px 50px 0px;
    }

    main h3 {
        width: 95%;
    }

    .img-thumbnails {
        height: 15rem;
    }

    footer {
        flex-direction: row;
        justify-content: space-around;
    }
}